<!DOCTYPE html>
<html>
<head>
    <title>Ovvverview</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    {{> partials/htmlHead }}
</head>
<body>
{{> partials/header }}
<!--test-->
<div id="preloader"></div>

<section class="hero-section position-relative padding-small"
         style="background-image: url(/images/books-background.jpeg); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="section-header">Shop</h1>
                    <div class="breadcrumbs section-paragraph">
						<span class="item">
							<a href="index.html">Home</a>
						</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="shopify-grid padding-small">
    <div class="container">
        <div class="row g-md-5 book__container">
            <main class="col-md-9">
                <div class="filter-shop d-flex flex-wrap justify-content-between mb-5">
                    <div class="showing-product">
                        <p>Showing {{from}}-{{to}} of {{numOfArticles}} results</p>
                    </div>
                    <div class="sort-by">
                        <select id="sorting" class="form-select" data-filter-sort="" data-filter-order="">
                            {{#sortings}}
                                <option value="{{value}}"> {{label}}</option>
                            {{/sortings}}
                        </select>
                    </div>
                </div>

                <div class="row product-content product-store" id="booksContainer">
                    {{#books}}
                    <div class="col-lg-3 col-md-4 mb-4 book__element">
                        <div class="card position-relative p-4 border rounded-3">
                            <div class="position-absolute">
                                <p class="bg-primary py-1 px-3 fs-6 text-white rounded-2 discount__container">
                                    <span class="discount">{{discount}}</span>% off
                                </p>
                            </div>
                            <img src="{{image}}" class="img-fluid shadow-sm book-foto" alt="product item">
                            <h6 class="mt-4 mb-0 fw-bold"><a href="single-product.html">{{title}}</a></h6>
                            <div class="review-content d-flex">
                                <p class="my-2 me-2 fs-6 text-black-50">{{author}}</p>
                            </div>

                            <span class="mb-2 text-black-50">Pages: {{pages}}</span>
                            <span class="mb-2 text-black-50">Price: <span class="price">{{price}}</span>
                                <!-- Original price if discount exist -->
                                <span class="mb-2 text-black-50 original-price"></span>
                            </span>
                            <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
                                <a href="/cart/add/{{articleNo}}" role="button" class="btn btn-dark"
                                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <svg class="cart">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{/books}}

                </div>
                {{> partials/pagination }}
            </main>
        </div>
    </div>
</div>

{{> partials/footer }}
</body>
</html>