<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	{{> partials/htmlHead }}
</head>
<body>
{{> partials/header }}

<section class="hero-section position-relative padding-small"
				 style="background-image: url(/images/banner-image-bg-1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1>Cart</h1>
					<div class="breadcrumbs">
						<span class="item">
							<a href="index.html">Home > </a>
						</span>
						<span class="item text-decoration-underline">Cart</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cart padding-small">
	<div class="container">
		<div class="row">
			<div class="cart-table">
				<div class="cart-header border-bottom border-top">
					<div class="row d-flex text-capitalize">
						<h4 class="col-lg-4 py-3 m-0">Product</h4>
						<h4 class="col-lg-3 py-3 m-0">Quantity</h4>
						<h4 class="col-lg-4 py-3 m-0">Subtotal</h4>
					</div>
				</div>

				<div class="cart-item border-bottom padding-small">
					<div class="row align-items-center">
						<div class="col-lg-4 col-md-3">
							<div class="cart-info d-flex gap-2 flex-wrap align-items-center">
								<div class="col-lg-5">
									<div class="card-image">
										<img src="images/cart-item1.png" alt="cart-img" class="img-fluid border rounded-3">
									</div>
								</div>
								<div class="col-lg-4">
									<div class="card-detail">
										<h5 class="mt-2"><a href="single-product.html">The Emerald Crown</a></h5>
										<div class="card-price">
											<span class="price text-primary fw-light" data-currency-usd="$2000.00">$2000.00</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-7">
							<div class="row d-flex">
								<div class="col-md-6">
									<div class="product-quantity my-2 my-2">
										<div class="input-group product-qty align-items-center" style="max-width: 150px;">
                          <span class="input-group-btn">
                            <button type="button" class="bg-white shadow border rounded-3 fw-light quantity-left-minus"
																		data-type="minus" data-field="">
                              <svg width="16" height="16">
                                <use xlink:href="#minus"></use>
                              </svg>
                            </button>
                          </span>
											<input type="text" id="quantity" name="quantity"
														 class="form-control bg-white shadow border rounded-3 py-2 mx-2 input-number text-center"
														 value="1" min="1" max="100" required>
											<span class="input-group-btn">
                            <button type="button" class="bg-white shadow border rounded-3 fw-light quantity-right-plus"
																		data-type="plus" data-field="">
                              <svg width="16" height="16">
                                <use xlink:href="#plus"></use>
                              </svg>
                            </button>
                          </span>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="total-price">
										<span class="money fs-2 fw-light text-primary">$2000.00</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-1 col-md-2">
							<div class="cart-cross-outline">
								<a href="#">
									<svg class="cart-cross-outline" width="38" height="38">
										<use xlink:href="#cart-cross-outline"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="cart-item border-bottom padding-small">
					<div class="row align-items-center">
						<div class="col-lg-4 col-md-3">
							<div class="cart-info d-flex gap-2 flex-wrap align-items-center">
								<div class="col-lg-5">
									<div class="card-image">
										<img src="images/cart-item2.png" alt="cart-img" class="img-fluid border rounded-3">
									</div>
								</div>
								<div class="col-lg-4">
									<div class="card-detail">
										<h5 class="mt-2"><a href="single-product.html">The Last Enchantment</a></h5>
										<div class="card-price">
											<span class="price text-primary fw-light" data-currency-usd="$2000.00">$400.00</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-7">
							<div class="row d-flex">
								<div class="col-lg-6">
									<div class="product-quantity my-2">
										<div class="input-group product-qty align-items-center" style="max-width: 150px;">
                          <span class="input-group-btn">
                            <button type="button" class="bg-white shadow border rounded-3 fw-light quantity-left-minus"
																		data-type="minus" data-field="">
                              <svg width="16" height="16">
                                <use xlink:href="#minus"></use>
                              </svg>
                            </button>
                          </span>
											<input type="text" id="quantity" name="quantity"
														 class="form-control bg-white shadow border rounded-3 py-2 mx-2 input-number text-center"
														 value="1" min="1" max="100" required>
											<span class="input-group-btn">
                            <button type="button" class="bg-white shadow border rounded-3 fw-light quantity-right-plus"
																		data-type="plus" data-field="">
                              <svg width="16" height="16">
                                <use xlink:href="#plus"></use>
                              </svg>
                            </button>
                          </span>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="total-price">
										<span class="money fs-2 fw-light text-primary">$400.00</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-1 col-md-2">
							<div class="cart-cross-outline">
								<a href="#">
									<svg class="cart-cross-outline" width="38" height="38">
										<use xlink:href="#cart-cross-outline"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cart-totals padding-medium pb-0">
				<h3 class="mb-3">Cart Totals</h3>
				<div class="total-price pb-3">
					<table cellspacing="0" class="table text-capitalize">
						<tbody>
						<tr class="subtotal pt-2 pb-2 border-top border-bottom">
							<th>Subtotal</th>
							<td data-title="Subtotal">
                      <span class="price-amount amount text-primary ps-5 fw-light">
                        <bdi>
                          <span class="price-currency-symbol">$</span>2,400.00
                        </bdi>
                      </span>
							</td>
						</tr>
						<tr class="order-total pt-2 pb-2 border-bottom">
							<th>Total</th>
							<td data-title="Total">
                      <span class="price-amount amount text-primary ps-5 fw-light">
                        <bdi>
                          <span class="price-currency-symbol">$</span>2,400.00</bdi>
                      </span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="button-wrap d-flex flex-wrap gap-3">
					<button class="btn">Update Cart</button>
					<button class="btn">Continue Shopping</button>
					<button class="btn">Proceed to checkout</button>
				</div>
			</div>
		</div>
	</div>
</section>

{{> partials/footer }}
</body>
</html>