<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	{{> partials/htmlHead }}
</head>
<body>
{{> partials/header }}

<section class="hero-section position-relative padding-small"
				 style="background-image: url(/images/books-background.jpeg); background-size: cover; background-repeat: no-repeat; background-position: center;">
	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1 class="section-header">Contact</h1>
					<div class="breadcrumbs section-paragraph">
						<span class="item">
							<a href="index.html">Home > </a>
						</span>
						<span class="item text-decoration-underline">Contact</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="contact-us padding-medium">
	<div class="container">
		<div class="row">
			<div class="contact-info col-lg-6 pb-3">
				<h3>Contact info</h3>
				<p class="mb-5">Tortor dignissim convallis aenean et tortor at risus viverra adipiscing.</p>
				<div class="page-content d-flex flex-wrap">
					<div class="col-lg-6 col-sm-12">
						<div class="content-box text-dark pe-4 mb-5">
							<h5 class="fw-bold">Office</h5>
							<div class="contact-address pt-3">
								<p>730 Glenstone Ave 65802, Springfield, US</p>
							</div>
							<div class="contact-number">
								<p>
									<a href="#">+123 987 321</a>
								</p>
								<p>
									<a href="#">+123 123 654</a>
								</p>
							</div>
							<div class="email-address">
								<p>
									<a href="#">info@yourinfo.com</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12">
						<div class="content-box">
							<h5 class="fw-bold">Management</h5>
							<div class="contact-address pt-3">
								<p>730 Glenstone Ave 65802, Springfield, US</p>
							</div>
							<div class="contact-number">
								<p>
									<a href="#">+123 987 321</a>
								</p>
								<p>
									<a href="#">+123 123 654</a>
								</p>
							</div>
							<div class="email-address">
								<p>
									<a href="#">info@yourinfo.com</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="inquiry-item col-lg-6">
				<h3>Any questions?</h3>
				<p class="mb-5">Use the form below to get in touch with us.</p>

				<form id="form" class="d-flex gap-3 flex-wrap">
					<div class="w-100 d-flex gap-3">
						<div class="w-50">
							<input type="text" name="name" placeholder="Write your name here *" class="form-control w-100">
						</div>
						<div class="w-50">
							<input type="text" name="email" placeholder="Write your email here *" class="form-control w-100">
						</div>
					</div>
					<div class="w-100">
						<input type="text" name="phone" placeholder="Phone number" class="form-control w-100">
					</div>
					<div class="w-100">
						<input type="text" name="subject" placeholder="Write your subject here" class="form-control w-100">
					</div>
					<div class="w-100">
						<textarea placeholder="Write your message here *" class="form-control w-100"></textarea>
					</div>
					<button type="submit" name="submit" class="btn my-3">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

{{> partials/footer }}
</body>
</html>