<!DOCTYPE html>
<html>
<head>
	<title>Overview</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	{{> partials/htmlHead }}
</head>
<body>
{{> partials/header }}

<section class="hero-section position-relative padding-small"
				 style="background-image: url(/images/banner-image-bg-1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1>Shop</h1>
					<div class="breadcrumbs">
						<span class="item">
							<a href="index.html">Home</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="shopify-grid padding-small">
	<div class="container">
		<div class="row flex-row-reverse g-md-5">
			<main class="col-md-9">
				<div class="filter-shop d-flex flex-wrap justify-content-between mb-5">
					<div class="showing-product">
						<p>Showing 1-20 of 55 results</p>
					</div>
					<div class="sort-by">
						<select id="sorting" class="form-select" data-filter-sort="" data-filter-order="">
							<option value="">Default sorting</option>
							<option value="">Name (A - Z)</option>
							<option value="">Name (Z - A)</option>
							<option value="">Price (Low-High)</option>
							<option value="">Price (High-Low)</option>
							<option value="">Rating (Highest)</option>
							<option value="">Rating (Lowest)</option>
							<option value="">Model (A - Z)</option>
							<option value="">Model (Z - A)</option>
						</select>
					</div>
				</div>

				<div class="row product-content product-store">
					{{!#articles}}
						<div class="col-lg-3 col-md-4 mb-4">
							<div class="card position-relative p-4 border rounded-3">
								<div class="position-absolute">
									<p class="bg-primary py-1 px-3 fs-6 text-white rounded-2">10% off</p>
								</div>
								<img src="images/product-item1.png" class="img-fluid shadow-sm" alt="product item">
								<h6 class="mt-4 mb-0 fw-bold"><a href="single-product.html">Title</a></h6>
								<div class="review-content d-flex">
									<p class="my-2 me-2 fs-6 text-black-50">Author</p>
								</div>

								<span class="price mb-2 text-black-50">Pages: 298</span>
								<div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
									<button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
													data-bs-title="Tooltip on top">
										<svg class="cart">
											<use xlink:href="#cart"></use>
										</svg>
									</button>
									<a href="#" class="btn btn-dark">
                      <span>
                        <svg class="wishlist">
                          <use xlink:href="#heart"></use>
                        </svg>
                      </span>
									</a>
								</div>
							</div>
						</div>
					{{!/articles}}

				</div>
				{{> partials/pagination }}
			</main>
		</div>
	</div>
</div>

{{> partials/footer }}

</body>
</html>