{{#order}}
<p>Order ID: {{id}}</p>
<p>First Name: {{firstname}}</p>
<p>Last Name: {{lastname}}</p>

<h2>Cart Items</h2>
<table>
    <thead>
    <tr>
        <th>Article No</th>
        <th>Title</th> <!-- Изменено здесь -->
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    {{#cartItems}}
    <tr>
        <td>{{articleNo}}</td>
        <td>{{title}}</td> <!-- Изменено здесь -->
        <td>{{price}}</td>
        <td>{{quantity}}</td>
    </tr>
    {{/cartItems}}
    </tbody>
</table>
{{/order}}
